*.o
build-*
*.so
*.txt.user
*.pro.user*
moc_*
ui_*
*~
Makefile*
build/*
bin/*
lib/*
*.so*
qrc_*
scripts/__pycache__/*
*.pyc
*.jar
unittests/unittests-build-*
unittests/build-*
pip3line.kdev4
extras/burp_plugin/bin
extras/burp_plugin/out
*.jardesc
extras/burp_plugin/.classpath
*.swp
Pip3line.app
_lgtm_*
